<% title link_to(@program.title, named_program_path(@program)) %>

<% content_for :navbar do %>
	<%= render 'layouts/navbar' %>
<% end %>

<h3>Add Work</h3>

<%= render 'form' %>

<p><%= link_to "Back", :back %></p>
