body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
	background-image: url('../images/hatch_pattern.jpg');
	background-repeat: repeat;
}

a img {
  border: none;
}

a, a:link, a:visited {
	color: #67888D;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #DB4865;
}

h1, h2, h3, h4 {
	font-family: 'Quattrocento Sans', arial, serif;
	font-weight: normal;
}

h1 {
	margin: 0 0 20px;
}

h3 {
	font-weight: bold;
	margin: 0 0 5px;
}

p {
	margin: 0 0 20px;
}

label {
	font-family: 'Quattrocento Sans', arial, serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
	max-width: 1000px;
	min-width: 760px;
	margin: 0 auto;
	background-color: #FFF;
	min-height: 300px;
    padding: 20px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 2px 2px 6px #888;
	-webkit-box-shadow: 2px 2px 6px#888;
	box-shadow: 2px 2px 6px #888;
}

#user_nav {
	float: right;
}

#user_nav a.services {
	float: right;
	position: relative;
	top: -6px;
}

#admin_toolbar {
	clear: both;
	padding: 0;
	margin: 10px 0;
}

#admin_toolbar li {
	display: inline;
}

#admin_toolbar li a {
	padding: 5px;
	display: inline-block;
	color: #333333;
}

#admin_toolbar #admin_tools {
	float: right;
}

#navbar {
	clear: both;
	padding: 0 5px;
	margin: 20px 0;
	background-color: #E9E9E9;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#navbar ul {
	display: block;
}

#navbar #tools {
	float: right;
	padding: 7px;
}

#navbar li {
	display: inline;
}

#navbar li a {
	display: inline-block;
}

#navbar p.toolbar {
	margin: 0;
	padding: 4px;
}

#pages li a {
	padding: 10px;
}

#flash_notice, #flash_error, #flash_alert {
	clear: both;
	padding: 5px 8px;
	margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.field_with_errors {
	display: block;
}

.field_with_errors .message {
	color: red;
}

.LV_validation_message {
	font-size: 11px;
	font-style: italic;
}

.LV_invalid {
	color: red;
}

.LV_invalid_field {
	border: solid 1px red;
}

.LV_valid {
	display: none;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
	margin: 0;
	padding: 0 12px;
}

#content {
	padding: 10px;
}

#content_inner {
	width: 100%;
}

table {
	width: 100%;
}

th {
	text-align: left;
	padding: 5px;
}

td {
	text-align: left;
	padding: 5px;
}

tr {
	background-image: url('../images/li_bg.jpg');
	background-position: bottom;
	background-repeat: repeat-x;
}

#close_link {
	float: right;
	cursor: pointer;
}

a.warning {
	color: red;
}

.true {
	color: green;
}

.false {
	color: red;
}

.form_section {
	clear: both;
	padding: 10px;
	background: #E9E9E9;
	margin-bottom: 14px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.form_section h3 {
	color: #67888D;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
}

label {
	font-weight: bold;
	font-style: italic;
	color: #666666;
}

input, select, textarea, input.file {
	border: 1px solid #999999;
	padding: 5px;
}

.form_section .instructions {
	font-size: 11px;
	color: #666666;
	font-style: italic;
}

.form_block {
	display: inline-block;
    padding-bottom: 10px;
    padding-right: 30px;
}

.form_block .user_select {
	height: 200px;
    width: 440px;
}

.work_block {
	margin-bottom: 20px;
}

.work_input {
	display: inline;
	margin-right: 10px;
}

.work_input label {
	
}

.work_title input {
	/*width: 300px;*/
}

.work_image input {
	
}

.services_used {
	clear: both;
	margin-bottom: 10px;
}

.services_used img {
	float: left;
}

.services_used .user {
	padding: 6px;
}

.services_used a.remove {
	color: red;
}

.statement_box {
	width: 98%;
	height: 100px;
	overflow-y: auto;
}

#work-title {
	text-align: left;
}

#work-title b {
	display: block;
	margin-right: 80px;
}

#work-title span {
	float: right;
}

.ui-button-text {
	color: #333333;
}

#rating {
	float: right;
	margin: 0 0 0 50px;
}

.existing_field {
	display: inline;
}

.new_field {
	display: none;
}

.submission_work_block {
	background: #E1E1E1;
    border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px #888888;
	display: block;
	float: left;
	padding: 10px;
	width: 200px;
}